/*Cor dourada para preencher as estrelas*/
.estrelagold{
	color: gold;
}
/*Cor preta para dar impressão de estrela vazia*/
.estrelaempty{
	color: black;
}
/*Fonte italica para alguns textos*/
.italic{
	font-style: italic;
}

/*Configura a aparência de alguns botões como os de compartilhar nas redes sociais*/
.fah {
	font-size: 1.5vw;/*tamanho*/
	padding: 1% 2%;/*preenchimento*/
	border: none;
	border-radius: 5px;/*borda redonda*/
	cursor: pointer;/*cursor muda ao passar por cima*/
	position: relative;
	text-align: center;
	text-decoration: none;
}

/*Clareia o botão quando o mouse passa por cima*/
.fa:hover {
  opacity: 0.7;
}
/*====================Cores dos ícones das redes sociais=============================
.*/fa-facebook {
  color: blue;
}

.fa-twitter {
  color: lightblue;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: hotpink;
}

.fa-pinterest {
  color: white;
}
/*====================Cores dos ícones das redes sociais=============================
.*/
/*=========================Fontes que imitam as usadas no site============================================================*/
@font-face {
  font-family: 'Fonte1';
  src: url('Fonte1.ttf');
}

@font-face {
  font-family: 'Fonte2';
  src: url('Fonte2.ttf');
}
/*=========================Fontes que imitam as usadas no site============================================================*/
/*Configura a fonte geral, a cor de fundo e tamanho da fonte dos filhos da div pai*/
.pai{
	font-family: 'Fonte2', sans-serif;
	font-size: 2vw;
	background-color: #ffffff;
	margin-top: 90px;
}
/*configuração geral de um elemento a, que por ser geramente um link, adota-se azul como cor*/
a{
	color: #4378dc;
	text-decoration: none;
}
/*Configuração geral de tamanho e família da fonte e cores dos títulos menores e maiores presentes no site*/
h1{
	font-family: 'Fonte1', sans-serif;
	font-size: 2vw;
	background-color: #ffffff;
	border-left: 2px solid #ff340c;
	padding-left: 1%;
}
h2{
	font-family: 'Fonte1', sans-serif;
	font-size: 3vw;
	border-left: 4px solid #ff340c;
	padding-left: 1%;
	font-weight: bold;
}

/*configura o posicionamento e largura do formulário
*/
form{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}






/* Estilos para dispositivos móveis */
@media (min-width: 320px)  {
	/*===================================================Formulário==========================================================================*/

	form {
	  border: 3px solid #f1f1f1;

	}
	/*preenchimento de alguns contêineres*/
	.cont {
	  padding: 1%;
	}
	/*configuração simultânea das caixas de texto e do botão, em partes*/
	input[type=text], input[type=submit] {
	  width: 100%;
	  padding: 2%;
	  margin: 2% 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  margin-top: 0;
	 
	}
	/*Configura o checkbox*/
	input[type=checkbox] {
	  margin-top: 3%;
	  height: 2vw;
	  width: auto;
	}
	/*Configura o botão de submit*/
	input[type=submit] {
	  background-color: #3c74dc;
	  border-radius: 5px;
	  color: white;
	  border: none;
	}
	/*Clareamento do botão ao ser passado pelo mouse*/
	input[type=submit]:hover {
	  opacity: 0.8;
	}

	/*===================================================Avaliações==========================================================================*/
	.scrollmenu a {
	  width: 50%;
	  display: inline-block;
	  padding: 0;
	  text-decoration: none;
	  color: black;
	  word-wrap: break-word;
	  margin: 0;
	}
	.scrollmenu {
	  display: block;
	  height: 50%;
	  width: 100%;
	  position: relative;
	  overflow: auto;
	  white-space: nowrap;
	  margin: 0;
	  padding: 0;
	}
	.avaliacoes{
		display: block;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}
	/*div que contém título e span para listra, definido como flex para dar liberdade do encaixe de ambos elementos*/
	.tituloav{
		display: flex;
		height: 20%;
		align-items: center;
	}
	/*define flex 1 para a div que contém a imagem do avaliador para que possa se ajustar a largura disponível (10%)*/
	.imgav{
		flex:  1;
		height: 100%;
		
	}
	/*posicionando e definindo o tamanho da imagem de perfil*/
	.imgav img{
		margin-top: 50%;
		width: 100%;
		height: auto;
		transform: translateX(-20%);
	}
	.av{
		position: relative;
		background-color: #ffffff;
		border: 1px solid grey;
		display: inline-flex;
		height: 120px;
		width: 90%;
		margin: 1vw auto;
		padding: 2vw;
		margin: 2%;
	}
	.textoav{
		flex: 9;/*a parte do texto de avaliação divide espaço com a div da imagem, flex 9 indica que ela ocupa 90% da largura*/
		height: 80%;
		overflow: scroll;/*permite que o texto seja rolável caso seu conteúdo ultrapasse os limites da div*/
		white-space: normal;/*permite que o texto ultrapasse as margens da div*/
		font-size: 1.5vw;
		text-align: justify;
	}
	.textoav span{
		color: #4378dc;/*coloca a cor do texto que indica o nome de um filme para azul*/
	}
	.textoav h1{
		border: none;
	}
	/*posicionamento e aparência da div que contém as estrelas*/
	.estrelasav{
		position: absolute;
		bottom: 1vw;
		padding-left: 10%;
	}
	.botaodiv{
		display: block;
		height: 8%;
		text-align: center;
		padding-right: 2%;
		margin-bottom: 10px;

	}
	.botao{
		font-size: 2vw;
		background-color: #3c74dc;
		color: white;
		padding: 1% 2%;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		right: 0;
		position: relative;
	}
	.botao:hover {
  		background-color: lightgreen;
	}
	.negrito{
		font-weight: bold;
	}
	/*============================Infos============================*/
	.info{
		display: block;
		justify-content: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}
	/*============================infos: novidades============================*/
	.novidades{
		display: block;
		height: 50vh;
		width: 100%;
		border: none;
		margin-right: 2%;
		transform: translateY(-2.5%);
	}
	.titulonov{
		display: flex;
		height: 10%;
		align-items: center;
		padding: 0;
		margin: 0;

	}
	.lined-text {
    background-color: #ff340c;
    height: 3vw;
    flex-grow: 1;
    margin-left: 1%;
    padding: 0;
  }
	.rolante{
		height: 90%;
		overflow: auto;
    display: flex;
    flex-direction: column;
	}
	.materia{
		display: flex;
		align-items: center;
		height: 33%;
	}
	.imgmat{
		display: table-cell;
		height: 96%;
		width: 21%;
		margin: 2%;
	}
	.fotomat{
		margin-top: 0;
		width: 100%;
		height: auto;
	}
	.conteudomat{
		display: table-cell;
		height: 96%;
		width: 71%;
		margin: 2%;
	}
	.textomat{
		display: block;
		height: 80%;
		font-size: 1.5vw;
		overflow: scroll;

	}
	.titulomat{
		display: block;
		font-size: 2vw;
		color: white;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.paragrafomat{
		display: block;
		text-align: justify;
	}
	.botoesmat{
		margin-left: auto;
	}
	/*============================infos: social============================*/
	.soc{
		display: block;
    height: 100%;
		width: 100%;		
	}
	/*============================infos: social-sobre============================*/
	.sobre{
		height: 50vh;
	}
	.titulosobre{
		display: flex;
		align-items: center;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.paragrafosobre{
		text-align: justify;
		overflow: scroll;
		height: 70%;
		width: 100%;
		margin: 0;
	}
	.textosobre{
		word-wrap: break-word;
	}
	ul {
  	list-style: none;
  	display: inline-block;
		text-align: left;
		padding-left: 2%;
	}
	li img {
  	width: auto;
  	height: 1.2em;
  	margin: 0;
	}
	.uli{
		list-style-type: disc;
	}
	.uli li{
		margin-left: 5%;
	}
	/*============================infos: social-editorial============================*/
	.editorial{
		height: 60vh;
	
		height: 300px;
	}
	.tituloeditorial{
		display: flex;
		align-items: center;
		margin-left: 0;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-bottom: 5px;
	}
	.editorial a{
		text-align: center;
		justify-content: center;
		width: 100%;
		height: 5%;
		display: block;
		color: black;
		font-size: 2vw;
       
	}
	.teclado{
		height: 100%;
		display: block;
	

	}
	/*=================================footer==========================================================*/
	.footer{
		display: flex;
		flex-direction: column;
		height: auto;
		width: 100%;
		background-color: #2a2c32;
		padding: 4%;
		padding-right: 0;
		
	}
	.footer a{
		color: white;
	}
	/*=================================footer: footerfileira==========================================================*/
	.footerfileira{
		display: flex;
		height: 60%;
	}
	.footerfileira a{
		display: block;
		text-align: left;
		align-items: center;
		justify-content: center;
	}

	/*=================================footer: footerfileira-first===================================================*/
	.footerfirst{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-second===================================================*/
	.footersecond{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-third===================================================*/
	.footerthird{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
		justify-content: center;
		align-items: center;
	}
	.footerthird a{
		text-align: center;
	}
	/*=================================footer: footerfileira-forth===================================================*/
	.footerforth{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	.redes{
		display: flex;
	}
	/*=================================footer: bottom===================================================*/
	.footerbottom{
		margin-top: 2%;
		color: white;
		text-align: center;
		justify-content: left;
		height: 40%;
		width: 90%;
		background-color: #2a2c32;
	}
	.footerbottom a{
		border-right: 1px solid #757a84;
		border-radius: 0;
	}
	.footerbottom p{
		color: #757a84;

	}
	.switch {
	  position: absolute;
	  display: inline-block;
	  width: 3vw;
  	height: 2vw;
  	transform: translateY(-0.5vw);
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 2vw;
	  width: 2vw;
	  left: 0;
	  bottom: 0;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(1vw);
	  -ms-transform: translateX(1vw);
	  transform: translateX(1vw);
	}

	.slider.round {
	  border-radius: 2vw;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.icon::before {
	  content: "\2709";
	  color: #2a2c32;
	  background-color: white;
	}

}

/* Estilos para desktops */
@media (min-width: 768px) and (max-width: 1199px) {
	/*===================================================Formulário==========================================================================*/

	form {
	  border: 3px solid #f1f1f1;

	
	}

	.cont {
	  padding: 1%;
	}

	input[type=text], input[type=submit] {
	  width: 100%;
	  padding: 2%;
	  margin: 2% 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  margin-top: 0;
	}

	input[type=checkbox] {
	  margin-top: 3%;
	}

	input[type=submit] {
	  background-color: #3c74dc;
	  border-radius: 5px;
	  color: white;
	  border: none;
	}

	input[type=submit]:hover {
	  opacity: 0.8;
	}

	/*===================================================Avaliações==========================================================================*/
	.avaliacoes{
		display: block;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		padding-bottom: 10%;
	
	}
	.tituloav{
		display: flex;
		height: 20%;
		align-items: center;
	}
	.imgav{
		flex:  1;
		height: 100%;
		
	}
	.imgav img{
		margin-top: 50%;
		width: 120%;
		height: auto;
		transform: translateX(-20%);
	}
	.av{
		position: relative;
		background-color: #ffffff;
		border: 1px solid grey;
		display: inline-flex;
		height: 260px;
		width: 90%;
		margin: 1vw auto;
		padding: 1vw;
		margin: 2%;
	}
	.scrollmenu a {
	  width: 30%;
	  display: inline-block;
	  padding: 0;
	  text-decoration: none;
	  color: black;
	  word-wrap: break-word;
	  margin: 0;
	}
	.scrollmenu {
	  display: block;
	  height: 80%;
	  width: 100%;
	  position: relative;
	  overflow: auto;
	  white-space: nowrap;
	  margin: 0;
	  padding: 0;
	}
	.textoav{
		flex: 9;
		height: 80%;
		overflow: scroll;
		white-space: normal;
		font-size: 1.5vw;
		text-align: justify;
	}
	.textoav span{
		color: #4378dc;
	}
	.textoav h1{
		border: none;
	}
	.estrelasav{
		position: absolute;
		bottom: 1vw;
		padding-left: 10%;
	}
	.botaodiv{
		display: block;
		height: 10%;
		text-align: right;
		padding-right: 2%;

	}
	.botao{
		font-size: 2vw;
		background-color: #3c74dc;
		color: white;
		padding: 1% 2%;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		right: 0;
		position: relative;
	}
	.botao:hover {
  		background-color: lightgreen;
	}
	.negrito{
		font-weight: bold;
	}
	/*============================Infos============================*/
	.info{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 1000px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		
	}
	/*============================infos: novidades============================*/
	.novidades{
		display: block;
		height: 100%;
		width: 48%;
		border: none;
		margin-right: 2%;
		transform: translateY(-2.5%);
	}
	.titulonov{
		display: flex;
		height: 10%;
		align-items: center;
		padding: 0;
		margin: 0;

	}
	.lined-text {
    background-color: #ff340c;
    height: 3vw;
    flex-grow: 1;
    margin-left: 1%;
    padding: 0;
  }
	.rolante{
		height: 90%;
		overflow: auto;
    display: flex;
    flex-direction: column;
	}
	.materia{
		display: flex;
		align-items: center;
		height: 33%;
	}
	.imgmat{
		display: table-cell;
		height: 96%;
		width: 21%;
		margin: 2%;
	}
	.fotomat{
		margin-top: 50%;
		width: 100%;
		height: auto;
	}
	.conteudomat{
		display: table-cell;
		height: 96%;
		width: 71%;
		margin: 2%;
	}
	.textomat{
		display: block;
		height: 80%;
		font-size: 2vw;
		overflow: scroll;

	}
	.titulomat{
		display: block;
		font-size: 2.5vw;
		color: white;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.paragrafomat{
		display: block;
		text-align: justify;
	}
	.botoesmat{
		margin-left: auto;
	}
	/*============================infos: social============================*/
	.soc{
		display: flex;
    flex-direction: column;
    height: 100%;
		width: 48%;
		margin-left: 2%;
		
	}
	/*============================infos: social-sobre============================*/
	.sobre{
		height: 50%;
	}
	.titulosobre{
		display: flex;
		align-items: center;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.paragrafosobre{
		text-align: justify;
		overflow: scroll;
		height: 80%;
		width: 100%;
		margin: 0;
	}
	.textosobre{
		word-wrap: break-word;
	}
	ul {
  	list-style: none;
  	display: inline-block;
		text-align: left;
		padding-left: 2%;
	}
	li img {
  	width: auto;
  	height: 1.2em;
  	margin: 0;
	}
	.uli{
		list-style-type: disc;
	}
	.uli li{
		margin-left: 5%;
	}
	/*============================infos: social-editorial============================*/
	.editorial{
		height: 50%;
	}
	.tituloeditorial{
		display: flex;
		align-items: center;
		margin-left: 0;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-bottom: 15px;
	}
	.editorial a{
		text-align: right;
		width: 95%;
		display: block;
		color: black;
		font-size: 2vw;
	}
	.teclado{
		overflow: scroll;
		word-wrap: break-word;
		height: 80%;
	}
	/*=================================footer==========================================================*/
	.footer{
		display: flex;
		flex-direction: column;
		height: 350px;
		width: 100vw;
		background-color: #2a2c32;
		padding: 4%;
		padding-right: 0;
	}
	.footer a{
		color: white;
	}
	/*=================================footer: footerfileira==========================================================*/
	.footerfileira{
		display: flex;
		height: 60%;
	}
	.footerfileira a{
		display: block;
		text-align: left;
		align-items: center;
		justify-content: center;
	}

	/*=================================footer: footerfileira-first===================================================*/
	.footerfirst{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-second===================================================*/
	.footersecond{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-third===================================================*/
	.footerthird{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
		justify-content: center;
		align-items: center;
	}
	.footerthird a{
		text-align: center;
	}
	/*=================================footer: footerfileira-forth===================================================*/
	.footerforth{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	.redes{
		display: flex;
	}
	/*=================================footer: bottom===================================================*/
	.footerbottom{
		margin-top: 2%;
		color: white;
		text-align: center;
		justify-content: left;
		height: 40%;
		width: 90%;
		background-color: #2a2c32;
	}
	.footerbottom a{
		border-right: 1px solid #757a84;
		border-radius: 0;
	}
	.footerbottom p{
		color: #757a84;

	}
	.switch {
	  position: absolute;
	  display: inline-block;
	  width: 3vw;
  	height: 2vw;
  	transform: translateY(-0.5vw);
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 2vw;
	  width: 2vw;
	  left: 0;
	  bottom: 0;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(1vw);
	  -ms-transform: translateX(1vw);
	  transform: translateX(1vw);
	}

	.slider.round {
	  border-radius: 2vw;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.icon::before {
	  content: "\2709";
	  color: #2a2c32;
	  background-color: white;
	}
}

/* Estilos para TVs */
@media (min-width: 1200px) {
	/*===================================================Formulário==========================================================================*/

	form {
	  border: 3px solid #f1f1f1;
	  width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.cont {
	  padding: 1%;
	}

	input[type=text], input[type=submit] {
	  width: 100%;
	  padding: 5%;
	  margin: 2% 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  margin-top: 0;
	  font-size: 2.5vw;
	}

	input[type=checkbox] {
	  margin-top: 3%;
	  font-size: 2vw;
	}

	input[type=submit] {
	  background-color: #3c74dc;
	  border-radius: 5px;
	  color: white;
	  border: none;
	}

	input[type=submit]:hover {
	  opacity: 0.8;
	}

	/*===================================================Avaliações==========================================================================*/
	.avaliacoes{
		display: block;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		padding-bottom: 10%;
	
	}
	.tituloav{
		display: flex;
		height: 20%;
		align-items: center;
	}
	.imgav{
		flex:  1;
		height: 100%;
		
	}
	.imgav img{
		margin-top: 50%;
		width: 120%;
		height: auto;
		transform: translateX(-20%);
	}
	.av{
		position: relative;
		background-color: #ffffff;
		border: 1px solid grey;
		display: inline-flex;
		height: 350px;
		width: 70%;
		padding: 1vw;
		margin: 8%;
	}
	.scrollmenu a {
	  width: 40%;
	  display: inline-block;
	  padding: 0;
	  text-decoration: none;
	  color: black;
	  word-wrap: break-word;
	  margin: 0;
	}
	.scrollmenu {
	  display: block;
	  height: 80%;
	  width: 100%;
	  position: relative;
	  overflow: auto;
	  white-space: nowrap;
	  margin: 0;
	  padding: 0;
	}
	.textoav{
		flex: 9;
		height: 80%;
		overflow: scroll;
		white-space: normal;
		font-size: 2vw;
		text-align: justify;
	}
	.textoav span{
		color: #4378dc;
	}
	.textoav h1{
		border: none;
	}
	.estrelasav{
		position: absolute;
		bottom: 1vw;
		padding-left: 10%;
	}
	.botaodiv{
		display: block;
		height: 10%;
		text-align: right;
		padding-right: 2%;

	}
	.botao{
		font-size: 2vw;
		background-color: #3c74dc;
		color: white;
		padding: 1% 2%;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		right: 0;
		position: relative;
	}
	.botao:hover {
  		background-color: lightgreen;
	}
	.negrito{
		font-weight: bold;
	}
	/*============================Infos============================*/
	.info{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 1000px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		
	}
	/*============================infos: novidades============================*/
	.novidades{
		display: block;
		height: 100%;
		width: 48%;
		border: none;
		margin-right: 2%;
		transform: translateY(-2.5%);
	}
	.titulonov{
		display: flex;
		height: 10%;
		align-items: center;
		padding: 0;
		margin: 0;

	}
	.lined-text {
    background-color: #ff340c;
    height: 3vw;
    flex-grow: 1;
    margin-left: 1%;
    padding: 0;
  }
	.rolante{
		height: 90%;
		overflow: auto;
    display: flex;
    flex-direction: column;
	}
	.materia{
		display: flex;
		align-items: center;
		height: 33%;
	}
	.imgmat{
		display: table-cell;
		height: 96%;
		width: 21%;
		margin: 2%;
	}
	.fotomat{
		margin-top: 50%;
		width: 100%;
		height: auto;
	}
	.conteudomat{
		display: table-cell;
		height: 96%;
		width: 71%;
		margin: 2%;
	}
	.textomat{
		display: block;
		height: 80%;
		font-size: 2vw;
		overflow: scroll;

	}
	.titulomat{
		display: block;
		font-size: 2.5vw;
		color: white;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.paragrafomat{
		display: block;
		text-align: justify;
	}
	.botoesmat{
		margin-left: auto;
	}
	/*============================infos: social============================*/
	.soc{
		display: flex;
    flex-direction: column;
    height: 100%;
		width: 48%;
		margin-left: 2%;
		
	}
	/*============================infos: social-sobre============================*/
	.sobre{
		height: 50%;
	}
	.titulosobre{
		display: flex;
		align-items: center;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.paragrafosobre{
		text-align: justify;
		overflow: scroll;
		height: 80%;
		width: 100%;
		margin: 0;
	}
	.textosobre{
		word-wrap: break-word;
	}
	ul {
  	list-style: none;
  	display: inline-block;
		text-align: left;
		padding-left: 2%;
	}
	li img {
  	width: auto;
  	height: 1.2em;
  	margin: 0;
	}
	.uli{
		list-style-type: disc;
	}
	.uli li{
		margin-left: 5%;
	}
	/*============================infos: social-editorial============================*/
	.editorial{
		height: 50%;
	}
	.tituloeditorial{
		display: flex;
		align-items: center;
		margin-left: 0;
		top: 0;
		color: black;
		height: 10%;
		width: 100%;
		margin-bottom: 15px;
	}
	.editorial a{
		text-align: right;
		width: 95%;
		display: block;
		color: black;
		font-size: 2vw;
	}
	.teclado{
		overflow: scroll;
		word-wrap: break-word;
		height: 80%;
	}
	/*=================================footer==========================================================*/
	.footer{
		display: flex;
		flex-direction: column;
		height: 350px;
		width: 100vw;
		background-color: #2a2c32;
		padding: 4%;
		padding-right: 0;
	}
	.footer a{
		color: white;
	}
	/*=================================footer: footerfileira==========================================================*/
	.footerfileira{
		display: flex;
		height: 60%;
	}
	.footerfileira a{
		display: block;
		text-align: left;
		align-items: center;
		justify-content: center;
	}

	/*=================================footer: footerfileira-first===================================================*/
	.footerfirst{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-second===================================================*/
	.footersecond{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	/*=================================footer: footerfileira-third===================================================*/
	.footerthird{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
		justify-content: center;
		align-items: center;
	}
	.footerthird a{
		text-align: center;
	}
	/*=================================footer: footerfileira-forth===================================================*/
	.footerforth{
		flex: 1;
		background-color: #2a2c32;
		margin: 0;
		word-wrap: break-word;
		width: 25%;
	}
	.redes{
		display: flex;
	}
	/*=================================footer: bottom===================================================*/
	.footerbottom{
		margin-top: 2%;
		color: white;
		text-align: center;
		justify-content: left;
		height: 40%;
		width: 90%;
		background-color: #2a2c32;
	}
	.footerbottom a{
		border-right: 1px solid #757a84;
		border-radius: 0;
	}
	.footerbottom p{
		color: #757a84;

	}
	.switch {
	  position: absolute;
	  display: inline-block;
	  width: 3vw;
  	height: 2vw;
  	transform: translateY(-0.5vw);
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 2vw;
	  width: 2vw;
	  left: 0;
	  bottom: 0;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(1vw);
	  -ms-transform: translateX(1vw);
	  transform: translateX(1vw);
	}

	.slider.round {
	  border-radius: 2vw;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
	.icon::before {
	  content: "\2709";
	  color: #2a2c32;
	  background-color: white;
	}
}
